node_modules
public/js
.shadow-cljs
.cpcache
.DS_Store
npm-debug.log*
yarn-error.log*
*.log
scripts/load_github_token.sh
target/
classes/
.cpcache/
.nrepl-port
data/*
!data/land/
data/land/*
!data/land/hrib_parcele_upisane_osobe.csv
node_modules/
.shadow-cljs/
.cljs_node_repl/
.secrets/*
!.secrets/README.md
